{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-around">
    <div class="col-md-4">
        <div class="card border-default">
            <div class="card-header">
                <span class="card-title h4">{{ category.name }}</span>
                {% if current_user == category.created_by %}
                <span class="float-right">
                    <a href="{{ url_for('catalog.edit_category', category_id=category.id) }}" class="btn btn-xs btn-outline-info"><i class="material-icons">mode_edit</i></a>
                    <a href="{{ url_for('catalog.delete_category', category_id=category.id) }}" class="btn btn-xs btn-outline-danger"><i class="material-icons">delete</i></a>
                </span>
                {% endif %}
            </div>
            <div class="card-body clearfix">
                <p class="card-text">
                    Items in this category:
                    <a class="btn btn-xs btn-primary float-right" href="{{ url_for('catalog.new_item', category_id=category.id) }}"><i class="material-icons">add</i></a>
                </p>
            </div>
            <ul class="list-group list-group-flush">
            {% for item in category.items %}
                <li class="list-group-item clearfix">
                    <a href="{{ url_for('catalog.item_display', item_id=item.id) }}">{{ item.name }}</a>
                    {% if current_user == item.created_by %}
                    <span class="float-right">
                        <a href="{{ url_for('catalog.edit_item', item_id=item.id) }}" class="btn btn-xs btn-outline-info"><i class="material-icons">mode_edit</i></a>
                        <a href="{{ url_for('catalog.delete_item', item_id=item.id) }}" class="btn btn-xs btn-outline-danger"><i class="material-icons">delete</i></a>
                    </span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
