{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-around">
    <div class="col-md-4">
        <div class="card border-default">
            <div class="card-header border-bottom-0">
                <span class="card-title h4">Categories</span>
                <a class="btn btn-sm btn-primary float-right" href="{{ url_for('catalog.new_category') }}"><i class="material-icons">add</i></a>
            </div>
            <ul class="list-group list-group-flush">
            {% if not categories %}
                <li class="list-group-item">No categories added yet.</li>
            {% else %}
            {% for category in categories %}
                <li class="list-group-item clearfix">
                    <a href="{{ url_for('catalog.category_display', category_id=category.id) }}">{{ category.name }}</a>
                    <span class="float-right">
                        <a href="{{ url_for('catalog.edit_category', category_id=category.id) }}" class="btn btn-xs btn-outline-info"><i class="material-icons">mode_edit</i></a>
                        <a href="{{ url_for('catalog.delete_category', category_id=category.id) }}" class="btn btn-xs btn-outline-danger"><i class="material-icons">delete</i></a>
                    </span>
                </li>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-default">
            <div class="card-header border-bottom-0">
                <span class="card-title h4">Latest items</span>
                <a class="btn btn-sm btn-primary float-right" href="{{ url_for('catalog.new_item') }}"><i class="material-icons">add</i></a>
            </div>
            <ul class="list-group list-group-flush">
            {% if not latest_items %}
                <li class="list-group-item">No items added yet.</li>
            {% else %}
            {% for item in latest_items %}
                <li class="list-group-item clearfix">
                    <a href="{{ url_for('catalog.item_display', item_id=item.id) }}">{{ item.name }}</a>
                    <span class="float-right">
                        <a href="{{ url_for('catalog.edit_item', item_id=item.id) }}" class="btn btn-xs btn-outline-info"><i class="material-icons">mode_edit</i></a>
                        <a href="{{ url_for('catalog.delete_item', item_id=item.id) }}" class="btn btn-xs btn-outline-danger"><i class="material-icons">delete</i></a>
                    </span>
                </li>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
